/* Global Colors */
$black: #000;
$gun-metal: #2b2d42;
$dark-gray: #6b6b6b;
$light-gray: #bdbdbd;
$deep-red: #d90429;
$danger: #ff334b;
$light-red: #ff4f4f;
$light-blue: #49bcff;
$success: #00e000;
$whiteish: #edf2f4;
$white: #fff;

/* Shadows */
$bottom-shadow: 0 8px 5px -4px rgba(0, 0, 0, 0.2);
