/* Global Colors */
$dark-gray: #6b6b6b;
$light-gray: #bdbdbd;
$deep-red: #d90429;
$bright-red: #ef233c;
$light-red: #ff4f4f;
$light-blue: #49bcff;
$whiteish: #edf2f4;
$white: #fff;

/* Form Styles?? */

// TODO: write a button component
.btnBack {
  color: $dark-gray;
}
.btnBack:hover {
  color: $light-blue;
}

.btnSubmit {
  border: none;
  border-radius: 0.5em;
  font-size: 1em;
  height: 2.5em;
  margin: 0 auto;
  width: 13em;
  transition: 0.2s;
}
