@import '../../../App.scss';

.contact-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $whiteish;
  border-radius: 0.5em;
  font-size: 1.2em;
  margin: 1em auto;
  padding: 1em;
  min-width: 250px;
  max-width: 425px;
}
.contact-card__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  box-shadow: $bottom-shadow;
  justify-content: space-between;
  width: 80%;

  .contact-card__name {
    margin: auto;
  }
  .contact-card__btn--edit,
  .contact-card__btn--delete {
    color: $black;
    font-size: 1em;
    padding: 0.25em;
    transition: 0.2s;
  }

  .contact-card__btn--edit:hover {
    color: $light-blue;
  }

  .contact-card__btn--delete {
    border: none;
    margin-left: 0.2em;
  }
  .contact-card__btn--delete:hover {
    color: $danger;
    cursor: pointer;
  }
}

.heading,
p {
  margin-top: 0.5em;
}
.street-address,
.city-state-zip {
  display: flex;
  flex-direction: column;
}
