@import '../../../App.scss';

// TODO: confirm that this style is unused
.form-container {
  margin: 1em auto 5em;
}
.form__button--back {
  color: $dark-gray;
  margin-left: 2em;
}
.form__button--back:hover {
  color: $light-blue;
}
.form {
  background-color: $whiteish;
  border-radius: 1em;
  display: flex;
  flex-direction: column;
  margin: 2em auto;
  padding: 2em 1em;
  width: 20em;
}
.form__title {
  margin-bottom: 0.7em;
  text-align: center;
}
.form__error {
  color: $danger;
  font-weight: 600;
  margin-bottom: 0.5em;
  text-align: center;
}
.form__submit {
  background-color: $light-gray;
  border: none;
  border-radius: 0.5em;
  font-size: 1em;
  height: 2.5em;
  margin: 0 auto;
  width: 13em;
  transition: 0.2s;
}
.form__submit:hover {
  cursor: pointer;
  background-color: $dark-gray;
  color: $white;
}
