@import '../../App.scss';

.contacts {
  margin: 1em auto;
  min-width: 50%;
  max-width: 600px;
}
.contacts__heading {
  text-align: center;
}
.contacts__controls {
  display: flex;
  align-items: center;
  margin: 0 auto;
  height: 4em;
  width: 300px;
}
.contacts__controls__button--add {
  background-color: $light-gray;
  border-radius: 0.5em;
  color: $gun-metal;
  font-weight: 500;
  padding: 0.5em 1em;
  text-align: center;
  text-decoration: none;
  transition: 0.2s;
}
.contacts__controls__button--add:hover {
  background-color: $success;
  color: $white;
  cursor: pointer;
}
.contacts__controls__button--delete-all {
  background-color: $light-gray;
  border: none;
  border-radius: 0.5em;
  color: $gun-metal;
  font-family: Arial;
  font-size: 1em;
  margin-left: auto;
  padding: 0.5em 1em;
  transition: 0.2s;
}
.contacts__controls__button--delete-all:hover {
  background-color: $danger;
  color: $white;
  cursor: pointer;
}
.contacts__list {
  height: 70vh;
  align-content: center;
  margin-top: 1em;
  overflow-y: auto;
}
.contacts__list__message {
  font-size: 1.5em;
  text-align: center;
}
